In [6]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [7]:
from pyspark.sql.functions import col

empdf=spark.read.parquet("C:/Users/nedun/Documents/Mona/DE/filters/employee.parquet")
deptdf=spark.read.parquet("C:/Users/nedun/Documents/Mona/DE/filters/department.parquet")

In [8]:
from pyspark.sql.functions import col

empdf.filter(col("emp_name")=="SCOTT").show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000288|   SCOTT|3000.00|   1000276|    200|
+-------+--------+-------+----------+-------+

In [9]:
empdf.filter("emp_name=='SCOTT'").show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000288|   SCOTT|3000.00|   1000276|    200|
+-------+--------+-------+----------+-------+

In [10]:
empdf.filter(col("emp_no")%10==9).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000299|   ALLEN|1600.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [11]:
empdf.filter(col("manager_id")!=1000258).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000262|   CLARK|2450.00|   1000245|    100|
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000346|  MILLER|1300.00|   1000262|    100|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [13]:
empdf.filter(col("salary")<1400).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000294|   SMITH| 800.00|   1000292|    200|
|1000310|    WARD|1250.00|   1000258|    300|
|1000312|  MARTIN|1250.00|   1000258|    300|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
|1000346|  MILLER|1300.00|   1000262|    100|
+-------+--------+-------+----------+-------+

In [14]:
empdf.filter((col("emp_no").isin(1000262,1000276,1000310))).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000262|   CLARK|2450.00|   1000245|    100|
|1000276|   JONES|2975.00|   1000245|    200|
|1000310|    WARD|1250.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [15]:
li=[1000346,1000288,1000294]
empdf.filter((col("emp_no").isin(li))).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000346|  MILLER|1300.00|   1000262|    100|
+-------+--------+-------+----------+-------+

In [16]:
empdf.filter(~(col("emp_no").isin(1000262,1000276,1000310))).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000245| PRADEEP|5000.00|      null|    100|
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
|1000312|  MARTIN|1250.00|   1000258|    300|
|1000315|  TURNER|1500.00|   1000258|    300|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
|1000346|  MILLER|1300.00|   1000262|    100|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [17]:
empdf.filter((col("emp_no").isin(1000262,1000276,1000310))).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000262|   CLARK|2450.00|   1000245|    100|
|1000276|   JONES|2975.00|   1000245|    200|
|1000310|    WARD|1250.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [18]:
li=[1000346,1000288,1000294]
empdf.filter(~(col("emp_no").isin(li))).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000245| PRADEEP|5000.00|      null|    100|
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000262|   CLARK|2450.00|   1000245|    100|
|1000276|   JONES|2975.00|   1000245|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
|1000310|    WARD|1250.00|   1000258|    300|
|1000312|  MARTIN|1250.00|   1000258|    300|
|1000315|  TURNER|1500.00|   1000258|    300|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [20]:
li=[1000346,1000288,1000294]
empdf.filter((col("emp_no").isin(li))).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000346|  MILLER|1300.00|   1000262|    100|
+-------+--------+-------+----------+-------+

In [21]:
empdf.filter(col("manager_id").isNull()).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000245| PRADEEP|5000.00|      null|    100|
+-------+--------+-------+----------+-------+

In [22]:
empdf.filter(col("manager_id").isNotNull()).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000262|   CLARK|2450.00|   1000245|    100|
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
|1000310|    WARD|1250.00|   1000258|    300|
|1000312|  MARTIN|1250.00|   1000258|    300|
|1000315|  TURNER|1500.00|   1000258|    300|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
|1000346|  MILLER|1300.00|   1000262|    100|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [29]:
empdf.filter(col("emp_name").like("%EN%")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000299|   ALLEN|1600.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [30]:
empdf.filter(col("emp_name").like("%S")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000276|   JONES|2975.00|   1000245|    200|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [31]:
empdf.filter(col("emp_name").like("S%")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
+-------+--------+-------+----------+-------+

In [34]:
empdf.filter(col("emp_name").like("%A%D")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000310|    WARD|1250.00|   1000258|    300|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [36]:
empdf.filter(~col("emp_name").like("%ES%")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000245| PRADEEP|5000.00|      null|    100|
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000262|   CLARK|2450.00|   1000245|    100|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
|1000310|    WARD|1250.00|   1000258|    300|
|1000312|  MARTIN|1250.00|   1000258|    300|
|1000315|  TURNER|1500.00|   1000258|    300|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000346|  MILLER|1300.00|   1000262|    100|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [38]:
empdf.filter(~col("emp_name").like("%S")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000245| PRADEEP|5000.00|      null|    100|
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000262|   CLARK|2450.00|   1000245|    100|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
|1000310|    WARD|1250.00|   1000258|    300|
|1000312|  MARTIN|1250.00|   1000258|    300|
|1000315|  TURNER|1500.00|   1000258|    300|
|1000346|  MILLER|1300.00|   1000262|    100|
|1000347|   DAVID|1400.00|   1000245|    500|
+-------+--------+-------+----------+-------+

In [40]:
empdf.filter(col("emp_name").contains("S")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000294|   SMITH| 800.00|   1000292|    200|
|1000326|   ADAMS|1100.00|   1000288|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [42]:
empdf.filter(col("salary").between(2500,4500)).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
+-------+--------+-------+----------+-------+

In [43]:
empdf.filter((col("emp_name")=="FORD")|(col("emp_name")=="ALLEN")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000292|    FORD|3000.00|   1000276|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [46]:
empdf.filter((col("emp_name")=="FORD")|(col("emp_name")=="ALLEN")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000292|    FORD|3000.00|   1000276|    200|
|1000299|   ALLEN|1600.00|   1000258|    300|
+-------+--------+-------+----------+-------+

In [47]:
empdf.filter((col("emp_name")=='FORD')|(col("emp_name")=="ALIEN")).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000292|    FORD|3000.00|   1000276|    200|
+-------+--------+-------+----------+-------+

In [48]:
empdf.filter((col("emp_name")=='FORD')|(col("salary")>2000)).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000245| PRADEEP|5000.00|      null|    100|
|1000258|   BLAKE|2850.00|   1000245|    300|
|1000262|   CLARK|2450.00|   1000245|    100|
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
+-------+--------+-------+----------+-------+

In [49]:
empdf.filter((col("dept_no")==200)&(col("salary")>2000)).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
+-------+--------+-------+----------+-------+

In [52]:
empdf.filter(((col("dept_no")==200)&(col("salary")>2000))|(col("emp_name")=='JAMES')).show()

+-------+--------+-------+----------+-------+
| emp_no|emp_name| salary|manager_id|dept_no|
+-------+--------+-------+----------+-------+
|1000276|   JONES|2975.00|   1000245|    200|
|1000288|   SCOTT|3000.00|   1000276|    200|
|1000292|    FORD|3000.00|   1000276|    200|
|1000336|   JAMES| 950.00|   1000258|    300|
+-------+--------+-------+----------+-------+