# below are functions to perform set operations
intersect
intersectAll
subtract
exceptAll
union / unionAll
UnionByName
Union Vs UnionByName

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [5]:
df1=spark.read.option("header",True).csv("C:/Users/nedun/Documents/Mona/DE/set_operation/set_example_file_1.csv")
df1.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   15|  Vertica|  RDBMS|
|   17|   Oracle|  RDBMS|
|   17|   Oracle|  RDBMS|
|   19|  MongoDB|  NOSQL|
|   19|  MongoDB|  NOSQL|
+-----+---------+-------+

In [6]:
df2=spark.read.option("header",True).csv("C:/Users/nedun/Documents/Mona/DE/set_operation/set_example_file_2.csv")
df2.show()

+-----+-----------+-------+
|db_id|    db_name|db_type|
+-----+-----------+-------+
|   17|     Oracle|  RDBMS|
|   19|    MongoDB|  NOSQL|
|   21|SingleStore|  RDBMS|
|   22|      Mysql|  RDBMS|
|   14|  Snowflake|  RDBMS|
|   17|     Oracle|  RDBMS|
+-----+-----------+-------+

In [7]:
#intersection - to get common rows from 2 dataframes
df1.intersect(df2).show()

+-----+-------+-------+
|db_id|db_name|db_type|
+-----+-------+-------+
|   17| Oracle|  RDBMS|
|   19|MongoDB|  NOSQL|
+-----+-------+-------+

In [9]:
#changing position of dataframe will not change the output
df2.intersect(df1).show()

+-----+-------+-------+
|db_id|db_name|db_type|
+-----+-------+-------+
|   17| Oracle|  RDBMS|
|   19|MongoDB|  NOSQL|
+-----+-------+-------+

In [11]:
#irrespective of dataframe position, intersectAll is used to get common rows from 2 dataframes duplicates
df1.intersectAll(df2).show()

+-----+-------+-------+
|db_id|db_name|db_type|
+-----+-------+-------+
|   17| Oracle|  RDBMS|
|   17| Oracle|  RDBMS|
|   19|MongoDB|  NOSQL|
+-----+-------+-------+

In [12]:
#subract used to get rows which are in 1st df but not in 2nd df. returns unique rows
df1.subtract(df2).show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
+-----+---------+-------+

In [13]:
#changing position of df will change the output
df2.subtract(df1).show()

+-----+-----------+-------+
|db_id|    db_name|db_type|
+-----+-----------+-------+
|   14|  Snowflake|  RDBMS|
|   22|      Mysql|  RDBMS|
|   21|SingleStore|  RDBMS|
+-----+-----------+-------+

In [14]:
#exceptAll gets 1st df but not in 2nd df rows. returns duplicates if 1st df has more duplicates than 2nd df
df1.exceptAll(df2).show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   19|  MongoDB|  NOSQL|
|   14|Snowflake|CloudDB|
+-----+---------+-------+

In [15]:
df2.exceptAll(df1).show()

+-----+-----------+-------+
|db_id|    db_name|db_type|
+-----+-----------+-------+
|   14|  Snowflake|  RDBMS|
|   22|      Mysql|  RDBMS|
|   21|SingleStore|  RDBMS|
+-----+-----------+-------+

In [ ]:
#union, unionAll - unionALl is alias of union. combines 2 df's with duplicates

In [16]:
df1.union(df2).show()

+-----+-----------+-------+
|db_id|    db_name|db_type|
+-----+-----------+-------+
|   12|   Teradata|  RDBMS|
|   14|  Snowflake|CloudDB|
|   15|    Vertica|  RDBMS|
|   17|     Oracle|  RDBMS|
|   17|     Oracle|  RDBMS|
|   19|    MongoDB|  NOSQL|
|   19|    MongoDB|  NOSQL|
|   17|     Oracle|  RDBMS|
|   19|    MongoDB|  NOSQL|
|   21|SingleStore|  RDBMS|
|   22|      Mysql|  RDBMS|
|   14|  Snowflake|  RDBMS|
|   17|     Oracle|  RDBMS|
+-----+-----------+-------+

In [17]:
df1.unionAll(df2).show()

+-----+-----------+-------+
|db_id|    db_name|db_type|
+-----+-----------+-------+
|   12|   Teradata|  RDBMS|
|   14|  Snowflake|CloudDB|
|   15|    Vertica|  RDBMS|
|   17|     Oracle|  RDBMS|
|   17|     Oracle|  RDBMS|
|   19|    MongoDB|  NOSQL|
|   19|    MongoDB|  NOSQL|
|   17|     Oracle|  RDBMS|
|   19|    MongoDB|  NOSQL|
|   21|SingleStore|  RDBMS|
|   22|      Mysql|  RDBMS|
|   14|  Snowflake|  RDBMS|
|   17|     Oracle|  RDBMS|
+-----+-----------+-------+