In [3]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [6]:
df=spark.read.csv("C:/Users/nedun/Documents/Mona/DE/dataframe sort/csv_with_duplicates_and_nulls.csv",header=True)
df.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   22|    Mysql|   null|
|   50|Snowflake|  RDBMS|
|   51|     null|CloudDB|
+-----+---------+-------+

In [7]:
df_update=df.sort("db_id")
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   15|  Vertica|  RDBMS|
|   22|    Mysql|   null|
|   50|Snowflake|  RDBMS|
|   51|     null|CloudDB|
+-----+---------+-------+

In [8]:
from pyspark.sql.functions import asc
df_update=df.sort(asc("db_id"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   15|  Vertica|  RDBMS|
|   22|    Mysql|   null|
|   50|Snowflake|  RDBMS|
|   51|     null|CloudDB|
+-----+---------+-------+

In [9]:
from pyspark.sql.functions import col
df_update=df.sort(col("db_id").asc())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   15|  Vertica|  RDBMS|
|   22|    Mysql|   null|
|   50|Snowflake|  RDBMS|
|   51|     null|CloudDB|
+-----+---------+-------+

In [10]:
df_update=df.sort("db_id",ascending=False)
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
|   15|  Vertica|  RDBMS|
|   14|Snowflake|CloudDB|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
+-----+---------+-------+

In [11]:
from pyspark.sql.functions import desc
df_update=df.sort(desc("db_id"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
|   15|  Vertica|  RDBMS|
|   14|Snowflake|CloudDB|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
+-----+---------+-------+

In [12]:
from pyspark.sql.functions import col
df_update=df.sort(col("db_id").desc())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
|   15|  Vertica|  RDBMS|
|   14|Snowflake|CloudDB|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
+-----+---------+-------+

In [14]:
from pyspark.sql.functions import col, asc_nulls_first
df_update=df.sort(asc_nulls_first("db_name"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
+-----+---------+-------+

In [15]:
df_update=df.sort(col("db_name").asc_nulls_first())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
+-----+---------+-------+

In [19]:
from pyspark.sql.functions import asc_nulls_last
df_update=df.sort(col("db_name").asc_nulls_last())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
|   51|     null|CloudDB|
+-----+---------+-------+

In [20]:
df_update=df.sort(asc_nulls_last("db_name"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
|   51|     null|CloudDB|
+-----+---------+-------+

In [22]:
from pyspark.sql.functions import desc_nulls_last
df_update=df.sort(col("db_name").desc_nulls_last())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   14|Snowflake|CloudDB|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [24]:
df_update=df.sort(desc_nulls_last("db_name"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   14|Snowflake|CloudDB|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [26]:
df_update=df.sort("db_name","db_id")
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
+-----+---------+-------+

In [27]:
sort_list=["db_name","db_id"]
df_update=df.sort(sort_list)
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
+-----+---------+-------+

In [30]:
df_update=df.sort("db_name","db_id",ascending=[1,1])
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   51|     null|CloudDB|
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
+-----+---------+-------+

In [32]:
df_update=df.sort(desc("db_name"),desc("db_id"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   14|Snowflake|CloudDB|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [33]:
df_update.sort(desc("db_name"),desc("db_id"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   14|Snowflake|CloudDB|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [34]:
df_update=df.sort("db_name","db_id",ascending=[0,0])
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   14|Snowflake|CloudDB|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [35]:
df_update=df.sort(desc("db_name"),asc("db_id"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [36]:
df_update=df.sort("db_name","db_id",ascending=[0,1])
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   14|Snowflake|CloudDB|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
|   51|     null|CloudDB|
+-----+---------+-------+

In [37]:
df_update=df.sort(asc_nulls_last("db_type"),desc_nulls_last("db_name"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   14|Snowflake|CloudDB|
|   51|     null|CloudDB|
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
+-----+---------+-------+

In [38]:
df_update=df.sort(col("db_type").asc_nulls_last(),col("db_name").desc_nulls_last())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   14|Snowflake|CloudDB|
|   51|     null|CloudDB|
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
|   22|    Mysql|   null|
+-----+---------+-------+

In [39]:
df_update=df.sort(col("db_type").asc_nulls_first(),col("db_name").desc_nulls_last())
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   22|    Mysql|   null|
|   14|Snowflake|CloudDB|
|   51|     null|CloudDB|
|   15|  Vertica|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   50|Snowflake|  RDBMS|
+-----+---------+-------+

In [41]:
df_update = df.sort(desc_nulls_last("db_type"), asc_nulls_first("db_name"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
|   51|     null|CloudDB|
|   14|Snowflake|CloudDB|
|   22|    Mysql|   null|
+-----+---------+-------+

In [44]:
from pyspark.sql.functions import col,desc_nulls_first,asc_nulls_first
df_update = df.sort(desc_nulls_first("db_type"), asc_nulls_last("db_name"))
df_update.show()

+-----+---------+-------+
|db_id|  db_name|db_type|
+-----+---------+-------+
|   22|    Mysql|   null|
|   50|Snowflake|  RDBMS|
|   12| Teradata|  RDBMS|
|   12| Teradata|  RDBMS|
|   15|  Vertica|  RDBMS|
|   14|Snowflake|CloudDB|
|   51|     null|CloudDB|
+-----+---------+-------+